<div id="add-book" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/book/add-book.less</em>, <em>assets/js/pages/book/add-book.page.js</em>, and <em>api/controllers/book/view-add-book.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
